body {
      margin: 0;
      /*background-color: #0f0c1a;*/
      background-image: url(../imagem/Maleta.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      font-family: Arial, sans-serif;
      color: #fff;
    }

    .container {
      position: relative;
      width: 100vw;
      height: 100dvh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 20px;
      box-sizing: border-box; 
    }

    .circle {
      /*width: 400px;
      height: 400px;*/
      width: 34%;
      max-width: 400px;
      min-width: 136px;
      height: 34%;
      max-height: 400px;
      min-height: 136px;
      border-radius: 50%;
      position: relative;
    }

    .circle a {
      /*width: 64px;
      height: 64px;*/
      width: 16%;
      height: 16%;
      border-radius: 50%;
      background-color: #1d1b2a;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s;
      border: 2px solid #7a28cb;
    }

    .circle a img {
      /*width: 36px;
      height: 36px;*/
      width: 56.3%;
      height: 56.3%;
    }

    .circle a:hover {
      transform: scale(1.2);
    }

    .center {
      width: 100px;
      height: 100px;
      background-color: #7a28cb;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }

    .center a {
      background-color: #7a28cb;
      color: black;
    }
